.signup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;


}

.signup .homebutton {
    position: absolute;
    height: 40px;
    top: 2%;
    left: 2%;
}

.signup .container {
    margin: 20px auto;
    background-color: white;
    height: 90vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 16px;
    box-shadow: 2px 2px 20px 2px lightgrey;

}

.signup .container .left {
    padding: 20px;
}

.signup .container .left img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
}

.signup h1 {
    color: #444;
}

.signup .container .right form {
    padding: 30px 40px;

}

.signup label {
    display: block;
    margin: 20px 0;
    color: grey;
    font-size: 18px;
}

.signup .container .right form input {
    margin: 0 10px;
    border: 1px solid grey;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    outline: none;
    padding: 2px 5px;
    color: grey;
    display: grid;

}


.signup form button {
    padding: 8px;
    border: none;
    background-color: crimson;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 30px;


}

.signup form button:hover {
    opacity: 0.8;
}

.signup a {
    margin-left: 90px;
    font-size: 14px;
    text-decoration: none;
}

.signup a:hover {
    opacity: 0.8;
}

@media only screen and (min-height:1000px) and (max-width:820px) {

    .signup {
        width: 125%;
        height: 125vh;
    }

    .signup .container {
        margin: 12em auto;
        background-color: white;
        height: 70vh;
        width: 110vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 16px;
        box-shadow: 2px 2px 20px 2px lightgrey;

    }


}

@media only screen and (min-height:600px) and (max-width:1024px){

    .signup{
        width: 110%;
        height: 110%;
    }

    .signup .container .left img {
        height: 80%;
    }

    .signup .container label 
    {
        font-size: 0.7em;
    }

    .signup form button{
        margin-top: 0;
        margin-left: 2.5em;
    }
    
    .signup a
    {
        font-size: 0.8em;
        margin-left: 4em;
    }

}