*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.App
{
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: #eeeeee;
}

/* .App .cart
{
    position: absolute;
    right: 0;
    height: 100vh;
    width: 90%;
    backdrop-filter: blur(5px);
} */
